* {
    margin: 0;
    padding: 0;
    scrollbar-width: auto;
    scrollbar-color: #2A43C1 #292929;
    box-sizing: border-box;
}

/* SCROLLBAR CUSTOM */

*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #292929;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #2A43C1;
    border-radius: 2px;
  }
  
  *::-moz-scrollbar {
    width: 10px;
  }
  
  *::-moz-scrollbar-track {
    background: #292929;
  }
  
  *::-moz-scrollbar-thumb {
    background-color: #2A43C1;
    border-radius: 2px;
  }

html {
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* VARIABLES CUSTOM */

:root {
    --color-azul-electrico: #2A43C1;
    --color-azul-intermedio: #5095C2;
    --color-azul-verdoso: #5BCAAB;
    --color-negro: #0E0E0E;
    --color-gris-claro: #a1a1a1;
    --color-gris-mas-claro: #cbcbcb;
    --color-gris-oscuro: #6a6a6a;
    --color-blanco-roto: #ebebeb;
    --color-blanco: #fff;
    --gradient-tres-azules: linear-gradient(90deg, rgba(42,67,193,1) 0%, rgba(80,149,194,1) 62%, rgba(91,202,171,1) 100%);
    --gradient-dos-azules: linear-gradient(90deg, rgba(42,67,193,1) 41%, rgba(80,149,194,1) 100%);
    --gradient-radial-tres-azules: radial-gradient(circle, rgba(42,67,193,1) 22%, rgba(80,149,194,1) 71%, rgba(91,202,171,1) 100%);
    --gradiente-membresia-premium: linear-gradient(90deg, rgba(42,67,193,0) 0%, rgba(42,67,193,0.5) 22%, rgba(42,67,193,1) 84%);
    --padding-container: 100px 0;
    --text-nav-size: 16px;
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(../fonts/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: Poppins-Bold;
    src: url(../fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-BoldItalic;
    src: url(../fonts/Poppins-BoldItalic.ttf);
}

/* ANIMATIONS */

/* SOCIAL MEDIA LATERAL DIV ANIMATION */

@keyframes aparecerSocialMedia {
    0% {
        margin-left: 100vw;
    }
    100% {
        margin-left: 96.7vw;
    }
}

@keyframes desaparecerSocialMedia {
    0% {
        margin-left: 96.7vw;
        opacity: 100%;
    }
    100% {
        margin-left: 96.7vw;
        opacity: 0%;
    }
}

/* GRADIENT ANIMATION DETAIL MAIN BANNER */

@keyframes AnimatedGradient {
    0% {
        background-position: 0 85%;
    }

    50% {
        background-position: 100% 20%;
    }

    100% {
        background-position: 0% 85%;
    }
}

/* ------------------ */

.imgBackgroundMembresia {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.2s linear;
    z-index: -10;
}

.mainBanner__video1 {
    opacity: 1;
}

.mainBanner__video2 {
    opacity: 0;
}


.container {
    position: relative;
    width: 95%;
    max-width: 1750px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.mainBanner {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 100vh;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    background-image: url(../media/courses/mystic_pack/earth/earthBackground.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainBanner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, rgba(14,14,14,1) 0%, rgba(14,14,14,0) 100%);
    background-color: rgba(42,67,193,0.3);
    z-index: 2;
}

/* NAV */

.nav {
    position: relative;
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}

.nav__logo img{
    width: 79px;
    padding-top: 23px;
}

.nav__logo img:hover {
    cursor: pointer;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: 2rem;
}

.navLinkSite {
    padding: 8px 25px;
    background: var(--color-azul-electrico);
    background-size: 250%;
    background-position: 0% 50%;
    border-radius: 30px;
}

.glow {
    padding: 8px 25px;
    background-size: 250%;
    background-position: 0% 50%;
    border-radius: 30px;
    margin-left: -20px;
    background: transparent;
    transition: 0.5s;
}

.glow:hover {
    padding: 8px 25px;
    background: var(--color-azul-electrico);
    background-size: 250%;
    background-position: 0% 50%;
    border-radius: 30px;
    transition: 0.5s;
}

.glow__item1 {
    padding: 8px 25px;
    background: var(--gradient-dos-azules);
    background-size: 250%;
    background-position: 0% 50%;
    border-radius: 30px;
    margin-left: 0px;
    transition: background-position 0.5s;
}

.glow__item1:hover {
    background-position: -150px 0;
    transition: background-position 0.5s;
    cursor: pointer;
}

.glow__item2 {
    padding: 8px 25px;
    border: 2px solid var(--color-azul-electrico);
    border-radius: 30px;
    margin-left: -10px;
    transition: .5s;
}

.glow__item2:hover {
    transition: .5s;
    background-color: var(--color-azul-electrico);
}

.nav__links {
    color: #fff;
    text-decoration: none;
    font-size: var(--text-nav-size);
    font-family: Poppins-Light;
}

.nav__items {
    list-style: none;
}

.nav__items:hover {
    cursor: pointer;
}

/* HERO CONTAINER */

.mainBanner__container {
    position: relative;
    max-width: 1000px;
    padding-top: 70px;
    padding-bottom: 130px;
    z-index: 10;
}

.mainBanner__flexMembresia {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.mainBanner__flexMembresia_type {
    display: grid;
    grid-template-rows: 1.3fr 1.6fr 1fr;
    height: 100%;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    background-image: url(../media/membresia/backgroundMembresia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: center;
    padding: 50px 0 80px 0;
}

.mainBanner__flexMembresia_type_apartado1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    justify-items: center;
}

.mainBanner__flexMembresia_type_apartado1_div1 {
    margin-bottom: -14px;
}

.mainBanner__flexMembresia_type_apartado1_div1_premium {
    margin-bottom: -5px;
}

.mainBanner__flexMembresia_type_apartado1_div1 h2 {
    font-size: 2.3rem;
    font-family: Poppins-Bold;
    color: var(--color-negro);
}

.mainBanner__flexMembresia_type_apartado1_div1_premium h2 {
    font-size: 2.3rem;
    font-family: Poppins-Bold;
    color: var(--color-negro);
}

.mainBanner__flexMembresia_type_apartado1_div2 {
    margin-bottom: 5px;
}

.mainBanner__flexMembresia_type_apartado1_div2_premium {
    width: 112px;
    height: 24px;
    background-color: var(--color-azul-electrico);
    border-radius: 2px;
}

.mainBanner__flexMembresia_type_apartado1_div2_premium p {
    font-size: 1rem;
    font-family: Poppins-ExtraLight;
    color: var(--color-blanco);
}

.mainBanner__flexMembresia_type_apartado1_div2_premium p span{
    font-size: 1rem;
    font-family: Poppins-Medium;
    color: var(--color-blanco);
}

.mainBanner__flexMembresia_type_apartado1_div2 h4 {
    font-size: 1rem;
    font-family: Poppins-Regular;
    color: var(--color-negro);
}

.mainBanner__flexMembresia_type_apartado1_div2 h4 span {
    font-family: Poppins-Regular;
    color: var(--color-azul-electrico);
}

.mainBanner__flexMembresia_type_apartado1_div3 {
    margin-bottom: -17px;
}

.mainBanner__flexMembresia_type_apartado1_div3 h3 {
    font-size: 3rem;
    font-family: Poppins-Bold;
    color: var(--color-azul-electrico);
}

.mainBanner__flexMembresia_type_apartado1_div4 h4 {
    font-size: 1rem;
    font-family: Poppins-Light;
    text-decoration: line-through;
    color: var(--color-gris-claro);
}

.mainBanner__flexMembresia_type_apartado2 {
    display: grid;
    grid-template-rows: 0.6fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 78%;
    justify-content: center;
}

.mainBanner__flexMembresia_type_apartado2_div2 {
    display: grid;
    grid-template-columns: 50px 82%;
    justify-content: center;
}

.mainBanner__flexMembresia_type_apartado2_div2_logo {
    background-image: url(../media/icons/check_grey.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBanner__flexMembresia_type_apartado2_div2_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.mainBanner__flexMembresia_type_apartado2_div2_text p {
    font-size: 0.9rem;
    font-family: Poppins-Regular;
    color: var(--color-gris-claro);
}

.mainBanner__flexMembresia_type_apartado2_div3 {
    display: grid;
    grid-template-columns: 50px 82%;
    justify-content: center;
}

.mainBanner__flexMembresia_type_apartado2_div3_logo {
    background-image: url(../media/icons/check_grey.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBanner__flexMembresia_type_apartado2_div3_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.mainBanner__flexMembresia_type_apartado2_div3_text p {
    font-size: 0.9rem;
    font-family: Poppins-Regular;
    color: var(--color-gris-claro);
}

.mainBanner__flexMembresia_type_apartado2_div4 {
    display: grid;
    grid-template-columns: 50px 82%;
    justify-content: center;
    background-color: var(--color-azul-electrico);
    border-radius: 10px;
}

.mainBanner__flexMembresia_type_apartado2_div4_logo {
    background-image: url(../media/icons/check_white.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBanner__flexMembresia_type_apartado2_div4_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.mainBanner__flexMembresia_type_apartado2_div4_text p {
    font-size: 0.9rem;
    font-family: Poppins-Medium;
    color: var(--color-blanco);
}

.mainBanner__flexMembresia_type_apartado2_div5 {
    display: grid;
    grid-template-columns: 50px 82%;
    justify-content: center;
}

.mainBanner__flexMembresia_type_apartado2_div5_logo {
    background-image: url(../media/icons/check_grey.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBanner__flexMembresia_type_apartado2_div5_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.mainBanner__flexMembresia_type_apartado2_div5_text p {
    font-size: 0.9rem;
    font-family: Poppins-Regular;
    color: var(--color-gris-claro);
}

.mainBanner__flexMembresia_type_apartado3 {
    display: grid;
    grid-template-rows: 1fr 1.5fr;
    justify-items: center;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_link {
    display: flex;
    justify-content: center;
    width: 78%;
    border-radius: 40px;
    background-color: var(--color-azul-electrico);
    text-decoration: none;
    transition: 0.5s;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_link:hover {
    transition: 0.5s;
    background-color: rgba(42,67,193,0.85);
}

.mainBanner__flexMembresia_type_apartado3_metodosPago {
    display: flex;
    justify-content: center;
    width: 100%;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_container {
    display: grid;
    grid-template-columns: 55px 70%;
    width: 80%;
    height: 100%;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_icon {
    background-image: url(../media/icons/shoppingCartLight_white.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBanner__flexMembresia_type_apartado3_metodosPago_text p {
    font-size: 1.08rem;
    font-family: Poppins-Light;
    color: var(--color-blanco);
}

.mainBanner__flexMembresia_premium {
    display: grid;
    grid-template-rows: 1.3fr 1.6fr 1fr;
    height: 100%;
    width: 400px;
    border-radius: 15px;
    background-color: white;
    background-image: url(../media/membresia/backgroundMembresia.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    text-align: center;
    padding: 50px 0 80px 0;
}

/* BENEFICIOS MEMEBRESÍA SECTION */

.beneficiosMembresia_container {
    position: relative;
    width: 100%;
    min-height: 955px;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100px;
    padding: 100px 0 50px 0;
    background-color: rgb(8, 8, 8);
}

.beneficiosMembresia_section {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center;
    z-index: 10;
    width: 95%;
    max-width: 1750px;
    margin: 0 auto;
    overflow: hidden;
}

.beneficiosMembresia__article {
    position: relative;
    max-width: 1200px;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
}

.sectionTitle__font {
    font-size: 75px;
    font-family: Poppins-Bold;
}

.color__white {
    color: #fff;
}

.color__black {
    color: var(--color-negro)
}

.color__blue {
    margin-top: -30px;
    color: var(--color-azul-electrico);
}

.mainBanner__signature2 {
    width: 368px;
    height: 64px;
    margin-top: -48px;
}

.mainBanner__signature2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.gradientBannerLine__detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gradient-tres-azules);
    z-index: 100;
}

.beneficiosMembresia__bigContainer {
    position: relative;
    max-width: 1500px;
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beneficiosMembresia__bigContainer a {
    text-decoration: none;
}

.beneficios_divsInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    min-height: 265px;
    border-left: 2px solid var(--color-azul-electrico);
}

.beneficios_divsInfo h3 {
    font-size: 1.6rem;
    font-family: Poppins-Regular;
    color: var(--color-azul-electrico);
    padding-left: 15px;
}

.title_beneficios_align {
    text-align: justify;
}

.title_beneficios_align_dif {
    text-align: left;
}

.beneficios_divsInfo p {
    font-size: 1rem;
    font-family: Poppins-Regular;
    text-align: justify;
    color: var(--color-blanco);
    padding-left: 15px;
}

.beneficios_divsInfo p span {
    color: var(--color-azul-electrico);
}


/* SMALL CONTAINER BENEFICIOS */

.beneficiosMembresia__smallContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 1000px;
    margin-top: 80px;
}

.beneficios_smallContainer_checks_container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 50%;
    min-height: 100px;
}

.beneficios_smallContainer_checks {
    display: grid;
    grid-template-columns: 50px 82%;
}

.beneficios_smallContainer_checks_logo {
    background-image: url(../media/icons/check_blue.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

.beneficios_smallContainer_checks_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
    font-size: 0.9rem;
    font-family: Poppins-Regular;
    color: var(--color-blanco);
}


/* ACCESO A TUTORIALES SECTION */

.tutorialesMembresia_container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    overflow: hidden;
    margin: 0 auto;
    padding-bottom: 100px;
    padding: 100px 0 0 0;
    background-color: rgb(8, 8, 8);
}

.tutorialesMembresia_section {
    position: relative;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
    align-items: center;
    z-index: 10;
    width: 95%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

.tutorialesMembresia__article {
    position: relative;
    max-width: 1300px;
    display: grid;
    grid-auto-rows: max-content;
    justify-items: center;
}

.tutorialesMembresia__article p {
    width: 95%;
    text-align: center;
    font-size: 17px;
    font-family: Poppins-ExtraLight;
    color: #fff;
    margin-top: 28px;
}

.tutorialesMembresia__article p span {
    background-color: #2A43C1;
    padding-right: 5px;
    border-radius: 2px;
}

.tutorialesMembresia__article p span span {
    font-family: Poppins-Medium;
    padding-left: 5px;
}

.sectionTitle__font {
    font-size: 75px;
    font-family: Poppins-Bold;
}

.tutorialesMembresia_bigContainer {
    position: relative;
    max-width: 1175px;
    margin-top: 80px;
    margin-bottom: 150px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.tutorialesMembresia_div1, .tutorialesMembresia_div2, .tutorialesMembresia_div3, .tutorialesMembresia_div4, .tutorialesMembresia_div5, .tutorialesMembresia_div6, .tutorialesMembresia_div7, .tutorialesMembresia_div8, .tutorialesMembresia_div9 {
    position: relative;
    border-radius: 5px;
    height: 216px;
    width: 384px;
}

.tutorialesMembresia_div1 img, .tutorialesMembresia_div2 img, .tutorialesMembresia_div3 img, .tutorialesMembresia_div4 img, .tutorialesMembresia_div5 img, .tutorialesMembresia_div6 img, .tutorialesMembresia_div7 img, .tutorialesMembresia_div8 img, .tutorialesMembresia_div9 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tutorialesMembresia_premium {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 115px;
    height: 26px;
    background-color: #2A43C1;
    border: 1px solid var(--color-blanco);
    border-radius: 5px;
    z-index: 1005;
}

.tutorialesMembresia_premium p {
    font-size: 1rem;
    font-family: Poppins-ExtraLight;
    padding-left: 5px;
    color: #fff;
}

.tutorialesMembresia_premium p span {
    font-family: Poppins-Medium;
}

.gradientBannerLine__detail1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--gradient-tres-azules);
    z-index: 100;
}


/* FOOTER */

/* CONTENEDOR SOCIAL MEDIA INFERIOR */

.socialMedia_container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    z-index: 10;
    width: 100%;
    height: 60px;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--color-azul-electrico);
}

.socialMedia__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 60px;
}

.socialMedia__icon {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--color-negro);
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.socialMedia__icon:hover {
    transition: .5s;
    background-color: var(--color-azul-electrico);
}

.socialMedia__icon img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}

/* INFO FOOTER CONTENEDOR */

.footer_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin: 0 auto;
    background-color: var(--color-negro);
}

.footer_section {
    position: relative;
    height: 130px;
    width: 95%;
    max-width: 1600px;
    overflow: hidden;
    margin: 0 auto;
}

.footer_section__big {
    position: relative;
    display: grid;
    grid-template-columns: 52% 0.2% 22% 0.2% 25%;
    height: 100%;
    max-width: 1600px;
    overflow: hidden;
}

.footer__section1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__section1__big {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85%;
    height: 100%;
}

.footer__section1__img {
    margin-top: 10px;
    width: 330px;
    height: 110px;
    background-image: url(../media/icons/rteaLogo.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__section1__info {
    padding-left: 50px;
}

.footer__section1__info p {
    text-align: justify;
    font-size: 0.85rem;
    font-family: Poppins-Regular;
    color: var(--color-blanco);
}

.footer__section2 {
    background-color: var(--color-azul-electrico);
}

.footer__section3 {
    display: flex;
    justify-content: center;
}

.footer__section3 a {
    text-decoration: none;
}

.footer__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    list-style: none;
}

.footer__menu li {
    text-align: justify;
    font-size: 1rem;
    font-family: Poppins-Regular;
    color: var(--color-blanco);
    transition: .5s;
}

.footer__menu li:hover {
    transition: .5s;
    color: var(--color-azul-electrico);
}

.footer__section4 {
    background-color: var(--color-azul-electrico);
}

.footer__section5 {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.footer__section5__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 80%;
}

.glow__item3 {
    padding: 8px 25px;
    background: var(--gradient-dos-azules);
    background-size: 250%;
    background-position: 0% 50%;
    border-radius: 30px;
    margin-left: 0px;
    transition: background-position 0.5s;
}

.glow__item3:hover {
    background-position: -150px 0;
    transition: background-position 0.5s;
    cursor: pointer;
}

.glow__item4 {
    padding: 8px 25px;
    border: 2px solid var(--color-azul-electrico);
    border-radius: 30px;
    transition: .5s;
}

.glow__item4:hover {
    transition: .5s;
    background-color: var(--color-azul-electrico);
}